numpy
ipython
jupyterlab
jupyter
xeus-python
notebook
opencv-python==4.6.0.66
diffusers
accelerate
tensorboard
transformers>=4.47.0
ftfy
gradio
ipywidgets>=7,<8
bitsandbytes
torchvision
gdown
peft==0.7.0
jinja2
datasets>=2.19.1
scipy
scikit-learn
evaluate
matplotlib
thop